In [1]:
import random
servicetime = []
interarrivaltime = [0]

servicetime_prob = [0.05,0.1,0.2,0.3,0.25,0.1]
servicetime_c_prob = []
interarrival_c_prob = []
c = 0
for i in range(6):
    c = round(c + servicetime_prob[i],2)    
    servicetime_c_prob.append(c)
c = 0
for i in range(8):
  c+= 0.125
  interarrival_c_prob.append(c)
interarrival_rd = [0]
servicetime_rd = []
for i in range(19):
    interarrival_rd.append(random.randint(0,999))
for i in range(20):
    servicetime_rd.append(random.randint(0,99))

print(servicetime_c_prob)
print(interarrival_c_prob)
print(interarrival_rd)
print(servicetime_rd)

rd_min = [1]
rd_max = []
for i in range(6):
  servicetime_c_prob[i] = servicetime_c_prob[i]*100
  rd_max.append(int(servicetime_c_prob[i]))
for i in range(1,6):
  rd_min.append(rd_max[i-1]+1)
rd_min1 = [1]
rd_max1 = []
for i in range(8):
  interarrival_c_prob[i] = interarrival_c_prob[i]*1000
  rd_max1.append(int(interarrival_c_prob[i]))
for i in range(1,8):
  rd_min1.append(rd_max1[i-1]+1)
print(rd_min)
print(rd_max)
print(rd_min1)
print(rd_max1)
for i in range(0,20):
    if servicetime_rd[i] == 0:
      servicetime.append(6)
    else:
      for j in range(6):
        if servicetime_rd[i] in range(rd_min[j], rd_max[j]+1):
          servicetime.append(j+1)
for i in range(19):
  if interarrival_rd[i] == 0:
    interarrivaltime.append(8)
  else:
      for j in range(8):
        if interarrival_rd[i] in range(rd_min1[j], rd_max1[j]+1):
          interarrivaltime.append(j+1)      
print(servicetime)
print(interarrivaltime)
arrivaltime = [0]
for i in range(1,20):
  arrivaltime.append(arrivaltime[i-1] + interarrivaltime[i])
print(arrivaltime)

[0.05, 0.15, 0.35, 0.65, 0.9, 1.0]
[0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0]
[0, 816, 662, 539, 180, 625, 232, 941, 174, 441, 953, 608, 905, 610, 569, 480, 47, 222, 106, 825]
[36, 30, 13, 32, 41, 26, 46, 82, 2, 97, 89, 80, 32, 33, 17, 6, 65, 82, 48, 77]
[1, 6, 16, 36, 66, 91]
[5, 15, 35, 65, 90, 100]
[1, 126, 251, 376, 501, 626, 751, 876]
[125, 250, 375, 500, 625, 750, 875, 1000]
[4, 3, 2, 3, 4, 3, 4, 5, 1, 6, 5, 5, 3, 3, 3, 2, 4, 5, 4, 5]
[0, 8, 7, 6, 5, 2, 5, 2, 8, 2, 4, 8, 5, 8, 5, 5, 4, 1, 2, 1]
[0, 8, 15, 21, 26, 28, 33, 35, 43, 45, 49, 57, 62, 70, 75, 80, 84, 85, 87, 88]

In [2]:
servicebegins = []
serviceend = []
waitingtime = []
idletime = []
timespent = []
for i in range(20):
  if i==0:
    servicebegins.append(0)
    serviceend.append(servicetime[i])
    waitingtime.append(0)
    idletime.append(0)
    timespent.append(servicetime[i])
  else:
    if arrivaltime[i] >= serviceend[i-1]:
        servicebegins.append(arrivaltime[i])
    else:
        servicebegins.append(serviceend[i-1])
    waitingtime.append(servicebegins[i] - arrivaltime[i])
    serviceend.append(servicebegins[i] + servicetime[i])

    timespent.append(servicetime[i] + waitingtime[i])
    idletime.append(servicebegins[i] - serviceend[i-1])

In [3]:
import pandas as pd
table = pd.DataFrame()
table['RD Inter-Arrival'] = interarrival_rd
table['Inter-Arrival Time'] = interarrivaltime
table['Arrival Time'] = arrivaltime
table['RD Service Time'] = servicetime_rd
table['Service Time'] = servicetime
table['Service Time Begins'] = servicebegins
table['Service Time Ends'] = serviceend
table['Waiting Time'] =  waitingtime
table['Time Spent'] =  timespent
table['Idle Time'] =  idletime
table

,RD Inter-Arrival,Inter-Arrival Time,Arrival Time,RD Service Time,Service Time,Service Time Begins,Service Time Ends,Waiting Time,Time Spent,Idle Time
0,0,0,0,36,4,0,4,0,4,0
1,816,8,8,30,3,8,11,0,3,4
2,662,7,15,13,2,15,17,0,2,4
3,539,6,21,32,3,21,24,0,3,4
4,180,5,26,41,4,26,30,0,4,2
5,625,2,28,26,3,30,33,2,5,0
6,232,5,33,46,4,33,37,0,4,0
7,941,2,35,82,5,37,42,2,7,0
8,174,8,43,2,1,43,44,0,1,1
9,441,2,45,97,6,45,51,0,6,1
10,953,4,49,89,5,51,56,2,7,0
11,608,8,57,80,5,57,62,0,5,1
12,905,5,62,32,3,62,65,0,3,0
13,610,8,70,33,3,70,73,0,3,5
14,569,5,75,17,3,75,78,0,3,2
15,480,5,80,6,2,80,82,0,2,2
16,47,4,84,65,4,84,88,0,4,2
17,222,1,85,82,5,88,93,3,8,0
18,106,2,87,48,4,93,97,6,10,0
19,825,1,88,77,5,97,102,9,14,0

In [4]:
times = list()
for i in range(len(table)):
  times.append(['A', table.iloc[i]['Arrival Time']])
  times.append(['D', table.iloc[i]['Service Time Ends']])

times = sorted(times, key = lambda x: x[1])
times

[['A', 0],
 ['D', 4],
 ['A', 8],
 ['D', 11],
 ['A', 15],
 ['D', 17],
 ['A', 21],
 ['D', 24],
 ['A', 26],
 ['A', 28],
 ['D', 30],
 ['D', 33],
 ['A', 33],
 ['A', 35],
 ['D', 37],
 ['D', 42],
 ['A', 43],
 ['D', 44],
 ['A', 45],
 ['A', 49],
 ['D', 51],
 ['D', 56],
 ['A', 57],
 ['D', 62],
 ['A', 62],
 ['D', 65],
 ['A', 70],
 ['D', 73],
 ['A', 75],
 ['D', 78],
 ['A', 80],
 ['D', 82],
 ['A', 84],
 ['A', 85],
 ['A', 87],
 ['D', 88],
 ['A', 88],
 ['D', 93],
 ['D', 97],
 ['D', 102]]

In [5]:
es_table = pd.DataFrame()
clock = list()
event_type = list()
for i in range(len(times)):
  clock.append(times[i][1])
  event_type.append(times[i][0])

es_table['Clock'] = clock
es_table['Event Type'] = event_type

es_table

    Clock Event Type
0       0          A
1       4          D
2       8          A
3      11          D
4      15          A
5      17          D
6      21          A
7      24          D
8      26          A
9      28          A
10     30          D
11     33          D
12     33          A
13     35          A
14     37          D
15     42          D
16     43          A
17     44          D
18     45          A
19     49          A
20     51          D
21     56          D
22     57          A
23     62          D
24     62          A
25     65          D
26     70          A
27     73          D
28     75          A
29     78          D
30     80          A
31     82          D
32     84          A
33     85          A
34     87          A
35     88          D
36     88          A
37     93          D
38     97          D
39    102          D

In [6]:
lq_t = [0]
ls_t = [1]
busy_time = [0]
max_q_length = [0]
fel = list()

### Functions to get next arrival and departure times

In [7]:
def get_next_arrival(curr_time_idx):
  for i in range(curr_time_idx + 1, len(es_table)):
    if es_table.iloc[i]['Event Type'] == 'A':
      return es_table.iloc[i]['Clock']
  
  return -1


def get_next_departure(curr_time_idx):
  for i in range(curr_time_idx + 1, len(es_table)):
    if es_table.iloc[i]['Event Type'] == 'D':
      return es_table.iloc[i]['Clock']
  
  return -1

In [8]:
fel.append([
    ['A', get_next_arrival(0)],
    ['D', get_next_departure(0)],
])
fel

[[['A', 8], ['D', 4]]]

### Simulation Loop

In [9]:
for i in range(1, len(times)):
  if event_type[i] == 'A':
    if ls_t[i - 1] == 1:
      lq_t.append(lq_t[i - 1] + 1)
      ls_t.append(ls_t[i - 1])
    else:
      ls_t.append(1)
      lq_t.append(lq_t[i - 1])
  else:
    if lq_t[i - 1] > 0:
      lq_t.append(lq_t[i - 1] - 1)
      ls_t.append(ls_t[i - 1])
    else:
      ls_t.append(0)
      lq_t.append(lq_t[i - 1])
    
  if ls_t[i - 1] == 1:
    busy_time.append(
        busy_time[i - 1] 
        + es_table.iloc[i]['Clock'] 
        - es_table.iloc[i - 1]['Clock']
    )
  else:
    busy_time.append(busy_time[i - 1])
  
  next_arrival = get_next_arrival(i)
  next_departure = get_next_departure(i)
  
  if next_arrival == -1 and next_departure == -1:
    fel.append([])
  elif next_arrival == -1:
    fel.append([
        ['D', next_departure]
    ])
  elif next_departure == -1:
    fel.append([
        ['A', next_arrival]
    ])
  else:
    fel.append([
        ['A', next_arrival],
        ['D', next_departure],
    ])
    
  max_q_length.append(max(max_q_length[i - 1], lq_t[i]))

In [10]:
es_table['LQ(t)'] = lq_t
es_table['LS(t)'] = ls_t
es_table['FEL'] = fel
es_table['Server Busy Time'] = busy_time
es_table['Maximum Queue Length'] = max_q_length

In [11]:
es_table

,Clock,Event Type,LQ(t),LS(t),FEL,Server Busy Time,Maximum Queue Length
0,0,A,0,1,"[[A, 8], [D, 4]]",0,0
1,4,D,0,0,"[[A, 8], [D, 11]]",4,0
2,8,A,0,1,"[[A, 15], [D, 11]]",4,0
3,11,D,0,0,"[[A, 15], [D, 17]]",7,0
4,15,A,0,1,"[[A, 21], [D, 17]]",7,0
5,17,D,0,0,"[[A, 21], [D, 24]]",9,0
6,21,A,0,1,"[[A, 26], [D, 24]]",9,0
7,24,D,0,0,"[[A, 26], [D, 30]]",12,0
8,26,A,0,1,"[[A, 28], [D, 30]]",12,0
9,28,A,1,1,"[[A, 33], [D, 30]]",14,1
10,30,D,0,1,"[[A, 33], [D, 33]]",16,1
11,33,D,0,0,"[[A, 33], [D, 37]]",19,1
12,33,A,0,1,"[[A, 35], [D, 37]]",19,1
13,35,A,1,1,"[[A, 43], [D, 37]]",21,1
14,37,D,0,1,"[[A, 43], [D, 42]]",23,1
15,42,D,0,0,"[[A, 43], [D, 44]]",28,1
16,43,A,0,1,"[[A, 45], [D, 44]]",28,1
17,44,D,0,0,"[[A, 45], [D, 51]]",29,1
18,45,A,0,1,"[[A, 49], [D, 51]]",29,1
19,49,A,1,1,"[[A, 57], [D, 51]]",33,1
20,51,D,0,1,"[[A, 57], [D, 56]]",35,1
21,56,D,0,0,"[[A, 57], [D, 62]]",40,1
22,57,A,0,1,"[[A, 62], [D, 62]]",40,1
23,62,D,0,0,"[[A, 62], [D, 65]]",45,1
24,62,A,0,1,"[[A, 70], [D, 65]]",45,1
25,65,D,0,0,"[[A, 70], [D, 73]]",48,1
26,70,A,0,1,"[[A, 75], [D, 73]]",48,1
27,73,D,0,0,"[[A, 75], [D, 78]]",51,1
28,75,A,0,1,"[[A, 80], [D, 78]]",51,1
29,78,D,0,0,"[[A, 80], [D, 82]]",54,1
30,80,A,0,1,"[[A, 84], [D, 82]]",54,1
31,82,D,0,0,"[[A, 84], [D, 88]]",56,1
32,84,A,0,1,"[[A, 85], [D, 88]]",56,1
33,85,A,1,1,"[[A, 87], [D, 88]]",57,1
34,87,A,2,1,"[[A, 88], [D, 88]]",59,2
35,88,D,1,1,"[[A, 88], [D, 93]]",60,2
36,88,A,2,1,"[[D, 93]]",60,2
37,93,D,1,1,"[[D, 97]]",65,2
38,97,D,0,1,"[[D, 102]]",69,2
39,102,D,0,0,[],74,2